<ng-template #inner>
  @if (icon(); as name) {
    <fh-icon [name]="name" [size]="18" />
  }
  <span class="fh-menu-item-label"><ng-content /></span>
  @if (selected()) {
    <fh-icon name="check" [size]="18" />
  }
</ng-template>

@if (routerLink(); as link) {
  <a
    [routerLink]="link"
    role="menuitem"
    class="fh-menu-item"
    [class.danger]="danger()"
    [attr.data-testid]="testId() ?? null"
    [attr.data-status-id]="statusId() ?? null"
  >
    <ng-container [ngTemplateOutlet]="inner" />
  </a>
} @else {
  <button
    type="button"
    role="menuitem"
    class="fh-menu-item"
    [class.danger]="danger()"
    [disabled]="disabled()"
    [attr.aria-pressed]="selected() ? 'true' : null"
    [attr.data-testid]="testId() ?? null"
    [attr.data-status-id]="statusId() ?? null"
  >
    <ng-container [ngTemplateOutlet]="inner" />
  </button>
}
